<section id="cover" class="d-flex align-items-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-10 offset-1">
        <h1><strong>EL HÉROE DE TUS MASCOTAS</strong></h1>
        <h2>Dosis de cariño y salud para perros y gatos</h2>
        <br>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Pet Shop</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Vets</a>
        </p>
      </div>
    </div>
  </div>
</section>